* { margin:0; padding:0; }
body {
    font-family:sans-serif;
    display: flex;
    height: 100vh;
}

#left {
    width: 20%;
    background-color: #f4f4f4;
    overflow-y: auto;
    border-right: 1px dotted gray;
}

#center {
    width: 60%;
    display: flex;
    flex-direction: column;
}

#right {
    width: 20%;
    background-color: #f4f4f4;
    
    overflow-y: auto;
    border-left: 1px dotted gray;
}

#map {
    flex-grow: 1;
}

h2 {
    background: #ddd;
    padding:5px
}